
.navBar{
    background-color: #000000;
    margin: 0;
    border-bottom: solid .01px #E3B442;
}
.mobileContainerNav .title{
    font-size: 1.6em;
}
.navLinks{
    display: flex;
    gap: 20px;
}

.isActive {
    color: #E3B442;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 500;
}
.desactive{
    text-decoration: none;
    color: #ffffff;
    font-size: 1.2em;
}.navLinks a:hover{
    scale: 1.1;
    transition: .3s;
    border: none;
    color: rgb(193, 113, 34)
}.sape{
    border: none;

}
.mobileContainerNavRight{
    display: none;

}#basic-navbar-nav{
    border: none;
}
.mobileContainerNavRight button{
    border: none;
}
.mobileContainerNavRight button:active{
    box-shadow: none;
}
.mobileContainerNav img{
    margin-right: 1em;
}
.desktopContainerNavRight{
    margin-top: 1em;
}


/* Cambiar el color del ícono del toggle */
.custom-navbar .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23E3B442' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }

  /* Cambiar el color del borde del toggle */
.custom-navbar .navbar-toggler {
    border-color: #E3B442;
  }

@media (max-width: 1200px){
.mobileContainerNav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }.mobileContainerNavRight{
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: center;
        margin: 0;
    }
    .desktopContainerNavRight{
        display: none;
    }
    .navLinks a{
        margin: 0 auto;
    }

}


 

